@import '@primer/css/index.scss';

@import 'github-syntax-light/lib/github-light';

body {
    margin: 2em;
    overflow-x: hidden;
}

code, .highlight>pre {
    white-space: pre-wrap !important;
}

pre {
    overflow: hidden !important;
}


