<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <!-- sass stylesheet -->
    <style lang="css">{{&style}}</style>
    {{#title}}
        <title>{{title}}</title>
    {{/title}}
</head>
<body>
    <article class="markdown-body" itemprop="text">
        {{&content}}
    </article>
</body>
</html>
